<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button class="btn btn-primary" (click)="crearHospital()"><li class="fa fa-plus"></li> Crear Hospital</button>
                </div>
                <br>
                <input [(ngModel)]="termino" (keyup)="buscarHospitales()" type="text" class="form-control" placeholder="Buscar hospital..." />
            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <samp>Espere por favor</samp>
        </div>
    </div>
</div>

<div *ngIf="!cargando" class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Hospitales registrados (<small>{{totalRegistros}}</small>) </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital)" [src]="hospital.img | imagen:'hospitales'" class="w50 img-circle pointer">
                            </td>
                            <td>
                                <input type="text" name="nombre" class="form-control" [(ngModel)]="hospital.nombre">
                            </td>
                            <td>
                                <button (click)="guardarHospital(hospital)" class="btn btn-primary">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button (click)="borrarHospital(hospital)" class="btn btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-secondary" (click)="cambiarDesde(-5)">Anteriores</button>
                <button class="btn btn-secondary" (click)="cambiarDesde(5)">Siguientes</button>

            </div>
        </div>
    </div>
</div>